# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.expo/
.turbo/
apps/mobile/ios/
apps/mobile/android/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# test/coverage
coverage/

# prisma
packages/database/generated/

# misc
*.pem

# local tooling
.claude/
